.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-button {
  width: 100%;
  height: 80px;
  display: flex;
}
.profile-button > * {
  height: 100%;
}
.profile-button ion-icon {
  width: 15%;
}
.user-info {
  padding-left: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.user-info > * {
  margin: 6px;
  padding: 0;
}
.graph-card-container {
  height: 100px;
}