.cstm-modal-class {
    --max-height: 50vh;
}
.home-daily-button {
    max-width: 100%;
}
.home-daily-button > ion-button {
    min-height: 80px;
}
.home-button-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
}
.home-button-layout > p {
    padding: 0;
    margin: 5px 0;
    font-size: 14px;
}
.input-wrapper {
    background-color: green;
}
.output-btn {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.scale-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.scale-card-content {
    width:  100%;
}